# Pandas Exercises

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/MedlyticsUniversal/Data/main/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a Pandas DataFrame named `data`.

In [2]:
# YOUR CODE HERE

data = pd.read_csv(url, names=names)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

Print out the age and class of the 100th patient.

In [4]:
# YOUR CODE HERE

print(data.age[100])
print(data["class"][100])

33
1

Write code to figure out how many people are classified as not having diabetes (class = 0).

In [5]:
# YOUR CODE HERE

len(data[data['class'] == 0])

500

Write code to figure out how many people are classified as having diabetes (class = 1).

In [6]:
# YOUR CODE HERE

len(data[data['class'] == 1])

268

What percent of patients have diabetes in this study?

In [9]:
# YOUR CODE HERE

len(data[data['class'] == 1])/len(data)*100

34.89583333333333

Print out the `"pres"` and `"class"` (no other columns) for the first 5 people.

In [14]:
# YOUR CODE HERE

data[['pres', 'class']][0:5]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below. It will print out the correlation among the columns.

In [15]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

What column has the highest correlation with class? Find the mean() value of that column.

In [29]:
# YOUR CODE HERE
correlation = data.corr()

max(correlation['class'][0:-1])

plas_mean = data['plas'].mean()
plas_mean

np.float64(120.89453125)

Create a new DataFrame with only people that are above the mean found in the above cell.

In [27]:
# YOUR CODE HERE

above_mean = data[data['plas'] > plas_mean]
above_mean

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

Create a new DataFrame that only includes people who are above the average value for each column in the dataset. In other words, find the average value for each column, then find which users have values above all of these average column values.

In [39]:
# YOUR CODE HERE
means = []
for name in names:
    means.append(data[name].mean())

updated_frame = pd.DataFrame(columns=names)
updated_frame
for i, mean in enumerate(means):
    print(i)
    data[i]
updated_frame

0

KeyError: 0

In [48]:
# YOUR CODE HERE

filtered_df = data
for column in names:
    mean = data[column].mean()
    print(mean)
    filtered_df = filtered_df[(filtered_df[column] > mean)]
filtered_df.shape

3.8450520833333335
120.89453125
69.10546875
20.536458333333332
79.79947916666667
31.992578124999998
0.47187630208333325
33.240885416666664
0.3489583333333333

(16, 9)

*Note: The next 3 problems were not explicitly shown in our tutorialâ€”being able to effectively Google and look through documentation is a very important coding tool!* Â¯\\\_(ãƒ„)_/Â¯

Ignoring the index (resetting the index to 0) and using the DataFrame from the cell above, sort the values based on `"skin"`, `"test"`, and `"pedi"` values in ascending order. Please write this in one line.

In [43]:
# YOUR CODE HERE
filtered_df.sort_values(by=['skin', 'test', 'pedi'], ascending=False)

     preg  plas  pres  skin  test  mass   pedi  age  class
458    10   148    84    48   237  37.6  1.001   51      1
663     9   145    80    46   130  37.9  0.637   40      1
375    12   140    82    43   325  39.2  0.528   58      1
612     7   168    88    42   321  38.2  0.787   40      1
175     8   179    72    42   130  32.7  0.719   36      1
159    17   163    72    41   114  40.9  0.817   47      1
215    12   151    70    40   271  41.8  0.742   38      1
424     8   151    78    32   210  42.9  0.516   36      1
206     8   196    76    29   280  37.5  0.605   57      1
603     7   150    78    29   126  35.2  0.692   54      1
152     9   156    86    28   155  34.3  1.189   42      1
259    11   155    76    28   150  33.3  1.353   51      1
546     5   187    76    27   207  43.6  1.034   53      1
614    11   138    74    26   144  36.1  0.557   50      1
43      9   171   110    24   240  45.4  0.721   54      1
236     7   181    84    21   192  35.9  0.586   51      1

Now, let's find the 4 largest values for `"age"`.

In [46]:
# YOUR CODE HERE
filtered_df.sort_values(by=['age'], ascending=False)[0:4]

     preg  plas  pres  skin  test  mass   pedi  age  class
375    12   140    82    43   325  39.2  0.528   58      1
206     8   196    76    29   280  37.5  0.605   57      1
603     7   150    78    29   126  35.2  0.692   54      1
43      9   171   110    24   240  45.4  0.721   54      1

Find the smallest 4 values for `"pedi"` and `"plas"` in reverse order (smallest to largest).

In [47]:
# YOUR CODE HERE
filtered_df.sort_values(by=['pedi'])[0:4]
filtered_df.sort_values(by=['plas'])[0:4]

     preg  plas  pres  skin  test  mass   pedi  age  class
614    11   138    74    26   144  36.1  0.557   50      1
375    12   140    82    43   325  39.2  0.528   58      1
663     9   145    80    46   130  37.9  0.637   40      1
458    10   148    84    48   237  37.6  1.001   51      1

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=e0da1011-05b0-4561-9255-03e3a806dd32' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>